.table-container{
    margin: auto;
    margin-top: 15px;
    width: 950px;
}

h2{
    background-color: grey;
    padding: 20px;
    border-radius: 15px;
    color:var(--negro);
    text-decoration-line:underline;
    font-size: 35px;
    font-weight: 700;
    margin: auto;
    margin-top: 30px;
}

table{
    text-align: left;
    background-color: var(--blanco);
    border-collapse: collapse;
    width: 100%;
}

th,td{
    padding: 10px;
    border: solid 1px var(--negro);
}

thead{
    font-weight: 700;
    background-color: var(--verdeClaro);
    border-bottom: solid 5px var(--verdeOscuro);
    color:var(--blanco);
}

tr:nth-child(even){
    background-color: var(--gris);
}

tr:hover td{
    background-color: var(--verdeAgua);
    color:var(--blanco);
    cursor:pointer;
}